<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes: Welcome</title>
</head>
<body>
    <h1>Welcome!</h1>
    <p>These are recipes</p>
    <a href="/recipes/new">Create New Recipe</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Under 30 Minutes?</th>
            <th>Actions</th>
        </tr>
        {% for recipe in recipes %}
        <tr>
            <td>{{recipe.name}}</td>
            <td>{{recipe.under_30}}</td>
            <td>Actions coming</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>