<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes: Login</title>
</head>
<body>
    <h1>Welcome to Recipe Connection</h1>

    <h2>Register User:</h2>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <h1 style="color: red;">{{message}}</h1>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/users/register" method="POST">
    First Name: <input type="text" name="first_name"><br>
    Last Name: <input type="text" name="last_name"><br>
    Email: <input type="email" name="email"><br>
    Password: <input type="password" name="password"><br>
    Confirm Password: <input type="password" name="confirm_password"><br>
    <input type="submit">
    </form>

    <h3>Login:</h3>
    <form action="/users/login" method="POST">
    Email: <input type="email" name="email">
    Password: <input type="password" name="password">
    <input type="submit">
    </form><br>
    <a href="/logout">Log me out</a>
</body>
</html>