<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Recipe</h1>
    <a href="/dashboard">Dashboard</a><br>
    <form action="/recipes/create" method="POST">
    Name: <br>
    <input type="text" name="name"><br>
    Description: <br>
    <input type="text" name="description"><br>
    Instructions: <br>
    <input type="text" name="instructions"><br>
    Date Made:
    <input type="date" id="date_made" name="date_made"><br>
    Under 30 Minutes? <br>
    <input type="radio" id="yes" value="yes" name="under_thirty">
    <label for="yes">Yes</label>
    <input type="radio" id="no" value="no" name="under_thirty">
    <label for="no">No</label><br>
    <input type= "submit">
    </form>
</body>
</html>