<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add New Recipe</h1>
    <a href="/dashboard">Dashboard</a><br>
    <a href="/logout">Log me out</a>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
    {% endwith %}

    <form action="/recipes/create" method="POST">
    Name: <br>
    <input type="text" name="name"><br>
    Description: <br>
    <input type="text" name="description"><br>
    Instructions: <br>
    <input type="text" name="instructions"><br>
    <!-- Date Made:
    <input type="date" id="date_made" name="date_made"><br> -->
    Under 30 Minutes? <br>
    <input type="radio" id="yes" value="yes" name="under_30">
    <label for="yes">Yes</label>
    <input type="radio" id="no" value="no" name="under_30">
    <label for="no">No</label><br>
    <input type= "submit">
    </form>
</body>
</html>