<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    <h1>Welcome {{session['first_name']}}</h1>
    <h2>{{recipe.name}}</h2>
    <ul style="border: 3px solid black;">
        <li>Description: {{recipe.description}}</li>
        <li>Under 30 minute prep: {{recipe.under_30}}</li>
        <li>Instructions: {{recipe.instructions}}</li>
        <li>Date made: {{recipe.created_at}}</li>
    </ul>
    <a href="/dashboard">Dashboard</a><br>
    <a href="/logout">Log me out</a>
</body>
</html>