<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
</head>
<body>
    <h1>You logged in with great success</h1>
<!-- In the case of username, sub that in for first_name below -->
    <p>I'm proud of you {{session['first_name']}}</p>
    <br>
    <a href="/">Login Page</a>
    <a href="/logout">Log me out</a>
</body>
</html>